#root,
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.calendar-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.calendar-content {
    flex: 1 1 auto; /* prend tout l'espace restant */
    min-width: 0; /* évite overflow dans flex children */
    padding: 20px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    height: 10vh;
}

.fc .fc-daygrid-day-frame {
    min-height: 60px; /* garder la même hauteur des cases date */
}
